global:
  scrape_interval: 60s

scrape_configs:
  - job_name: 'enteliweb'
    scrape_timeout: 60s
    metrics_path: '/metrics'
    static_configs:
      - targets:
          - '//site/1000'
          - '//site/2000'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_controller
      - target_label: __address__
        replacement: 'localhost:8085'
      - source_labels: [__param_controller]
        target_label: instance
